.creative {
    .shoes{
        background-image: url("../../../deploy/img/creative/shoes.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 320px;
    }
}